table {
    height: 1px;
    width: 1px;
    white-space: normal;
}

body
{
    background-color: #ecf1f1;
}

.pointer
{
    cursor: pointer;
}

.tab {
    overflow: visible;
    width: 100%;
    background-color: #96e7df;
    position: fixed;
    height: 50px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 50px;
}

.tab button:hover {
    background-color: #4edecf;
}

.tab button.active {
    background-color: #62c2b8;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #bde5e5;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 100;
}

.content-wrapper
{
    margin-left: 200px;
}

.content
{
    padding-top: 50px;
}

.active-dep
{
    background-color: #0ba8c7;
}

.opening-text
{
    font-family: Arial, serif;
}

.parent-row
{
    cursor: pointer;
    background-color: #a1e779 !important;
}

.child-row
{
    background-color: #ccefb4 !important;
}

.sticky-table-head
{
    position: sticky;
    top: 50px;
}

.table-head
{
    background-color: #edf5f5 !important;
}

.table-foot
{
    background-color: #c8e7e7 !important;
    font-weight: bold;
}