<div class="p-5">
    <h1>Bu fayl şifrələnib. Şifrəni yazıb davam edin</h1>
    <div class="alert alert-danger"
         th:classappend="${error ? 'd-block' : 'd-none'}">Şifrə yanlışdır</div>
    <form role="form">
        <div class="form-group">
            <label for="password">
                <input id="password" class="form-control"
                       type="password" placeholder="Şifrə" required/>
            </label>
        </div>
        <input id="submit" type="submit" value="OK" class="btn btn-primary m-2">
    </form>
    <script>
        $('#password').keypress(function (e) {
            if (e.which === 13)
            {
                e.preventDefault();
                showContentWithPassword();
            }
        }).focus();

        $('#submit').click(function (e) {
            e.preventDefault();
            showContentWithPassword();
        });
    </script>
</div>